@using BookingAppStore.Models;
@model IEnumerable<Book>
@*@model IEnumerable<BookingAppStore.Models.Book>*@
@{
    ViewBag.Title = "Book shop";
}
<div>
    <h3>Распродажа книг</h3>
    <table>
        <tr>
            <td><p>Название книги</p></td>
            <td><p>Автор</p></td>
            <td><p>Цена</p></td>
            <td></td>
        </tr>
        @foreach (var b in Model)
        {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Author</p></td>
                <td><p>@b.Price</p></td>
                <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
            </tr>
        }
    </table>
</div>

@helper BookList(IEnumerable<Book> books)
{
    <ul>
        @foreach (Book b in books)
        {
            <li>@b.Name</li>
        }
    </ul>
}
<h3>Список книг</h3>
@BookList(Model)

@*@helper CreateList(string[] all)
{
    <ul>
        @foreach (string s in all)
        {
            <li>@s</li>
        }
    </ul>
}*@
@{
    string[] cities = new string[] { "Minsk", "Washington", "Ottava", "Paris" };
}

@{
    string[] countries = new string[] { "Belarus", "USA", "Canada", "France" };
}

@using BookingAppStore.Helpers
@Html.CreateList(cities)
@ListHelper.CreateList(Html, countries)

@*<h3>Города</h3>
@CreateList(cities)
<br />
<h3>Страны</h3>
@CreateList(countries)*@

@*@Html.Partial("GetList")*@

@*альтернативный способ*@
@*@{ Html.RenderPartial("GetList");}*@

@*@Html.Partial("GetList", new string[] {"Belarus", "USA", "Canada", "France"})*@

@Html.Action("GetList");

@section Footer {
    <h2>Все права защищены. Syte Corp. 2023.</h2>
}
